*:focus {
 outline: 1px solid #eeeeee   ;   
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: silver;
}

.navigation {
  display: flex;
  justify-content: space-evenly;

  li {
    display: inline-flex;
  }
}

.updates {
    display: flex;
    width: 1440;
    flex-direction: column-reverse;
    gap: 2em;
    justify-content: space-around;

}

img {
  max-width: 100%;
}

form {
    display: flex;
    flex-direction: column-reverse;
    input, textarea {
        padding: 10px;
        box-shadow: 2px 2px 10px rgba(0,0,0,.15);
        border-radius: 10px;
    }
}

.read-more {
  margin-top: 1em;
  padding: 1em;
  color: silver;
  border: 1px solid silver;
  border-radius: 1em;
  display: inline-block;
  cursor: pointer;
}

// GLIDE JS styling
@import "../node_modules/@glidejs/glide/dist/css/glide.core.min.css";
@import "../node_modules/@glidejs/glide/dist/css/glide.theme.min.css";